body{
    margin: 0;
    padding: 0;
    background-color: rgb(4, 4, 67);
}
.panel{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.white{
    color: white;
}
.choosing-from{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    font-size: 20px;
}
.signUp{
    width: 150px;
    height: 50px;
    border-radius: 15%;
    background-color: rgb(215, 40, 154);
    color: white;
    font-size: 18px;
    margin-right: 20px;
}
.heading{
    margin-left: 50px;
    margin-top: 130px;
    font-size: 25px;
    height: 500px;
    color: white;
    width:500px;
}
.with-image{
    display: flex;
    justify-content: space-between;
}
.future{
    color: rgb(207, 19, 167);
}
.own-dashboard{
    color: rgb(207, 19, 167);
}
.get-started{
    margin-top: 50px;
    background-color: rgb(215, 40, 154);
    height: 70px;
    width: 200px;
    border-radius: 25%;
    color: white;
    font-size: large;
    border: solid;
}
.image-class{
    height: 800px;
    width: 800px;
}